.about {
    width: 1300px;
    margin-top: 10vh;
    min-height: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
}

@media (max-width: 1500px) {
    .about {
        width:1100px
    }

    .about-text-container {
        width: 65% !important; 
    }
}

@media (max-width: 1200px) {
    .about {
        width:auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-title {
        margin-left: 20%;
    }

    .about-text-container {
        width: 75% !important; 
    }    
}

@media (max-width: 800px) {
    .about-title {
        margin-left: 10%;
    }

    .about-text-container {
        width: 90% !important; 
    }
}

.about-title {
    display: flex;
    position: relative;
    justify-content: flex-start;
    float: left;
    width: 100%;
}

.about-title h1::before {
    content: '';
    position: relative;
    border-bottom: 18px solid #ff4d5a;
    width: 34rem;
    display: block;
    margin: 0 auto;
    left: 3.8rem;
    top: 6.3rem;
    z-index: -1;

}

.about-title h1 {
    font-size: 5rem;
    font-weight: 600;
}

.about-text {
    margin-top: 10vh;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
}

/* .about-text-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid #ff4d5a;
    border-radius: 15px;
    height:fit-content;
    float: left;
    width: 40%;
} */

.about-text-container {
    width: 60%; 
    height: auto; 
    padding: 10px;
    border: 3px solid #ffe14d;
    border-radius: 15px;
    box-sizing: border-box;
}

.about-early {
    align-self: flex-start; 
}

.about-career {
    align-self: flex-end; 
}

.about-future {
    align-self: flex-start; 
}

.container-about-text-title.animate-left {
    animation: moveInLeft 2s ease forwards;
}

.container-about-text-title.animate-right {
    animation: moveInRight 2s ease forwards;
}


.container-about-text-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    opacity: 0;
}

.title-about-text {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    margin-left: 7%;
    align-items: center;
    background-color: #ff4d5a;
    font-weight: 800;
    /* background-color: #ffe14d; */
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    border-radius: 50px 50px 0 0;
}

.about-text p {
    /* padding-bottom: 20px; */
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.5rem;
}

.about-text-container span {
    text-decoration: underline;
    text-decoration-color: #ff4d5a;
    text-decoration-thickness: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
